          <?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=.;Initial Catalog=account;Persist Security Info=True;User ID=sa;Password=1234"
         providerName="System.data.SqlClient" />
  </connectionStrings>
</configuration>
